name: "CI - Test Features"
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        features:
        - clusterctl
        - kubeadm
        - tilt
        - kwok
        - yamlfmt
        baseImage:
        - ubuntu:latest
        - fedora:latest
        - mcr.microsoft.com/devcontainers/base:ubuntu
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: "Install latest devcontainer CLI"
      run: npm install -g @devcontainers/cli

    - name: "Generating tests for '${{ matrix.features }}' against '${{ matrix.baseImage }}'"
      run: devcontainer features test -f ${{ matrix.features }} -i ${{ matrix.baseImage }} .

  test-global:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: "Install latest devcontainer CLI"
      run: npm install -g @devcontainers/cli

    - name: "Testing global scenarios"
      run: devcontainer features test --global-scenarios-only .
