name: "Validations"
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "renovate.json"
  workflow_dispatch:

jobs:
  renovate-config-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Validate renovate config
        uses: rinchsan/renovate-config-validator@v0.2.0
        with:
          pattern: 'renovate.json'
