name: "Validations"
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "renovate.json"
  workflow_dispatch:

jobs:
  renovate-config-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Validate renovate config
        uses: rinchsan/renovate-config-validator@v0.2.0
        with:
          pattern: 'renovate.json'
